<a href="https://colab.research.google.com/github/ranjana-muthukumar/PYTHON/blob/main/Python_basic_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ranjana M 231114042
#01
name="Ranjana"
branch="Computer Science"
interest_field="Designing"
print("Your Name:",name)
print("Enter Your Branch:",branch)
print("Interest on the screen:",interest_field)

Your Name: Ranjana
Enter Your Branch: Computer Science
Interest on the screen: Designing

In [ ]:
#to print type of an input
#02
str=input()
print(type(str))

Python
<class 'str'>

In [ ]:
#03
#to print area and perimeter of a rectangle
l=float(input("Length of a rectangle:"))
b=float(input("Breadth of a rectangle:"))
print("Area of a rectangle:",l*b)
print("Perimeter of a rectangle:",2*(l+b))

Length of a rectangle:4.5
Breadth of a rectangle:2.5
Area of a rectangle: 11.25
Perimeter of a rectangle: 14.0

In [ ]:
#to calculate area of a circle
#04
r=float(input("radius of a circle:"))
pi=3.1415926536
area=pi*r*r
print("Area of a circle is",area)

radius of a circle:3.5
Area of a circle is 38.484510006600004

In [ ]:

import math
pi=math.pi
r=float(input())
Area=pi*r*r
print(Area)

3.5
38.48451000647496

In [ ]:
#to find product of two integers
#05
num1=int(input("Enter Number1:"))
num2=int(input("Enter Number2:"))
product=num1*num2
print("The Product of Two Numbers is",product)

Enter Number1:60
Enter Number2:450
The Product of Two Numbers is 27000

In [ ]:

#06
#to print sum of two numbers
a=float(input("Enter Number1:"))
b=float(input("Enter Number2:"))
sum=a+b
print("The Sum of Two Numbers is",sum)

Enter Number1:45.8
Enter Number2:54.7
The Sum of Two Numbers is 100.5

In [ ]:

#07
#to print average mark
mrk1=int(input("Enter the mark scored in English:"))
mrk2=int(input("Enter the mark scored in Physics:"))
mrk3=int(input("Enter the mark scored in Maths:"))
mrk4=int(input("Enter the mark scored in Biology:"))
total=mrk1 + mrk2 + mrk3 + mrk4
print("Total=",total)
avg=total/4
print("Average=",avg)

Enter the mark scored in English:92
Enter the mark scored in Physics:80
Enter the mark scored in Maths:75
Enter the mark scored in Biology:95
Total= 342
Average= 85.5

In [ ]:

#08
#to print number of years left for retirement
age=int(input("Enter Your Age:"))
yrs=65-age
print(yrs,"years left for your retirement")

Enter Your Age:46
19 years left for your retirement

In [ ]:
#09
#conversion of celsius to fahrenheit
Temp_C=float(input("Celsius:"))
Temp_F=(9/5)*Temp_C + 32
print("Fahrenheit=",Temp_F)

Celsius:32
Fahrenheit= 89.6

In [ ]:
#10
#to print "hi welcome to BU username"
print(input("Enter Username:"))
print("Hi welcome to BU Username")

Enter Username:Ranjana
Ranjana
Hi welcome to BU Username

In [ ]:
#11
#to display square of an integer
num=int(input("Enter a Number:"))
print("Square of the number is",num**2)

Enter a Number:15
Square of the number is 225

In [ ]:
#12
#to display the cube of a floatong number
num=float(input("Enter a Number:"))
print("Cube of the floating number is",num**3)

Enter a Number:2.5
Cube of the floating number is 15.625

In [ ]:
#13
#to swap two integer using third variable
A=10
B=5
#assuming new Variable to swaps the values
Var=A
A=B
B=Var
print("The Value of A after swapping is",A)
print("The Value of B after swapping is",B)

The Value of A after swapping is 5
The Value of B after swapping is 10

In [ ]:


#14
#to swap two integers without using third variable
i=25
j=26
#swapping two values
i,j=j,i
print("The value of i after swapping is",i)
print("The value of j after swapping is",j)

The value of i after swapping is 26
The value of j after swapping is 25

In [ ]:

#15
numbers=(1,2,3,4,5,6,7,8,9,10)
count_odd=0
count_even=0
for x in numbers:
      if not x%2:
            count_even+=1
      else:
            count_odd+=1
print("Number of even numbers:",count_even)
print("Number of odd numbers:",count_odd)

Number of even numbers: 5
Number of odd numbers: 5

In [ ]:
#16
#to print fibonacci series between 0 to 50
def fib(n):
    a=0
    b=1
    if n==1:
       print(b)
    else:
       print(a)
       print(b)
       for i in range(2,n):
           c=0
           c=a+b
           a=b
           b=c
           if c>n:
              break
           else:
              print(c)
x=int(input("Enter Any Number:"))
if x<0:
    print("Series must have positive values")
else:
    fib(x)

Enter Any Number:50
0
1
1
2
3
5
8
13
21
34

In [ ]:
#17
#to check whether an alphabet is a vowel or consonant
ch=input("Enter a character:")
if(ch=='A'or ch=='a' or ch=='E' or ch=='e' or ch=='I' or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
   print(ch,"is a vowel")
else:
   print(ch,"is a consonant")

Enter a character:a
a is a vowel

In [ ]:
#18
#to print a numbers in ascending order
numbers=[8,9,5,7,3,1,2,4,6]
print(numbers.sort())
print(numbers)

None
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#19
#to print odd numbers from 1 to 25
for num in range(1,25):
    if num%2!=0:
       print(num,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [ ]:
#20(b)
#if score is out of range print an error message
x=float(input("Enter a score:"))
if x < 1.0:
   print(x)
else:
   print("Error! Please enter score within the range")

Enter a score:2.5
Error! Please enter score within the range

In [ ]:
#20(c)
#to print a grade for the score
Score=input("Enter a score:")
x=float(Score)
if x>=0.9 and x<1.0:
   print("A")
elif x>=0.8 and x<0.9:
   print("B")
elif x>=0.7 and x<0.8:
   print("C")
elif x>=0.6 and x<0.7:
   print("D")
elif x<0.6:
   print("E")
else:
   print("Error!")

Enter a score:0.8
B